[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
ml-project = {editable = true, file = "file:///C:/Users/hp/Desktop/end-to-end%20ML%20project"}

[dev-packages]

[requires]
python_version = "3.10"
